.comp {
  margin-top: 1em;
}

.card {
  margin-bottom: 1em;
}

.card-open {
  background-color: #ffffff;
}

.card-done {
  background-color: #FAFAFA;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}